################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/KashyyykFramework.GenericDbAccess/obj/Debug
/.vs/KashyyykFramework/v14
/KashyyykFramework.MvcExtensions/bin/Debug
/KashyyykFramework.MvcExtensions/obj/Debug
/KashyyykFramework.Helpers/bin/Debug
/KashyyykFramework.Helpers/obj/Debug
/KashyyykFramework.Core/obj/Debug
